---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import NoJS from '../../../components/NoJS.astro'
import WorldForm from '../../../components/WorldForm.astro'
import { apiRoot, apiHeaders } from '../../../data'
import getAuth from '../../../utils/get-auth'

const { apiKey } = getAuth(Astro)
let message = ''

if (apiKey === undefined) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: '/catalogue/worlds'
    },
  })
}

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData()
    const name = formData.get('name')
    const slug = formData.get('slug')
    const creators = (formData.get('creators') as string).split(',').map(c => c.trim())
    const description = formData.get('description')
    const isPublic = formData.get('public') === 'on'

    const res = await fetch(`${apiRoot}/worlds`, {
      method: 'POST',
      headers: {
        ...apiHeaders,
        Authorization: `Bearer ${apiKey}`
      },
      body: JSON.stringify({ name, slug, creators, description, public: isPublic })
    })

    const data = await res.json()
    if (res.status !== 200) {
      throw new Error(data.error)
    }

    return new Response(null, {
      status: 302,
      headers: {
        Location: `/catalogue/worlds/${data.slug}`,
      },
    })
  } catch (err) {
    message = 'Sorry, something went wrong. Please try again.'
    console.error(err)
  }
}
---
<BaseLayout title="Create a New World">
  <h1>Create a New World</h1>
  {message && <aside class="message error">{message}</aside>}
  <WorldForm
    action="/catalogue/worlds/new"
    button="Create"
    isEdit={false} />
  <NoJS />
</BaseLayout>
