---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { apiRoot, defaultPageSize } from '../../../data'
import Pagination from '../../../components/Pagination.astro'
import TableListing from '../../../components/TableListing.astro'
import getHeaders from '../../../utils/get-headers'

const headers = getHeaders(Astro)
let data: { [key: string]: any } = {}

const pageParam = 'page'
const pageSizeParam = 'page_size'
const page = Astro.url.searchParams.get(pageParam) ?? 1
const pageSize = Astro.url.searchParams.get(pageSizeParam) ?? defaultPageSize
const url = `${apiRoot}/tables?page=${page}&page_size=${pageSize}`

try {
  const res = await fetch(url, {
    method: 'GET',
    headers
  })

  data = await res.json()
} catch (err) {
  console.error(err)
}
---
<BaseLayout title="Random Tables">
  <h1>Random Tables</h1>
  {(!data.tables || data.tables.length < 1) && (<div class="null">
    <p>No tables found.</p>
    <a href="/catalogue/tables/new">+ Create a new table</a>
  </div>)}
  {data.tables && data.tables.length > 0 && data.tables.map((table: { [key: string]: any }) => (
    <TableListing table={table} />
  ))}
  {data.total > data.page_size && (<Pagination page={data} baseUrl="/catalogue/tables" pageParam="page" pageSizeParam="page_size" />)}
</BaseLayout>
