---
import BaseLayout from '../../../../layouts/BaseLayout.astro'
import { apiRoot, apiHeaders } from '../../../../data'
import UserLink from '../../../../components/UserLink.astro'
import MarkdownContent from '../../../../components/MarkdownContent.astro'
import getAuth from '../../../../utils/get-auth'
import Breadcrumbs from '../../../../components/Breadcrumbs.astro'

const { apiKey, username } = getAuth(Astro)
const { id } = Astro.params
let character: { [key: string]: any } | null = null
let isPlayer = false
let ancestors = []
let title = 'Character'

try {
  const res = await fetch(`${apiRoot}/characters/${id}`, {
    method: 'GET',
    headers: {
      ...apiHeaders,
      Authorization: `Bearer ${apiKey}`
    }
  })

  ancestors = [
    { path: '/catalogue', name: 'Catalogue' },
    { path: '/catalogue/characters', name: 'Characters' },
  ]

  if (res.status === 200) {
    character = await res.json()
    title = character.name
    isPlayer = username === character.player.username
  }
} catch (err) {
  console.error(err)
}

const stats = {
  physical: ['Strength', 'Dexterity', 'Constitution'],
  mental: ['Intelligence', 'Wisdom', 'Charisma'],
  resistances: ['Fortitude', 'Reflex', 'Will']
}

const src = {
  physical: character?.abilities ?? {},
  mental: character?.abilities ?? {},
  resistances: character?.resistances ?? {}
}

const displayStat = (group: string, stat: string): string => {
  const set = src[group]
  const val = set[stat.toLowerCase()]
  return val === undefined
    ? 0
    : val < 0
      ? val.toString()
      : `+${val.toString()}`
}
---
<BaseLayout title={title}>
  {!character && (
    <h1>Hero Not Found</h1>
    <p class="byline">404 Not Found</p>
    <p>If you&rsquo;re holding out, we have
      <a href="/catalogue/characters">a wide variety</a> of streetwise
      Hercules to choose from &mdash; or, if you&rsquo;re strong, fast,
      and fresh from the fight, <a href="/catalogue/characters/new">maybe
      you can join them</a>.</p>
  )}
  {character && (
    <>
      <Breadcrumbs ancestors={ancestors} current={character.name}></Breadcrumbs>
      <h1>{character.name}</h1>
      <p class="byline">Played by <UserLink user={character.player}></UserLink></p>
      <MarkdownContent tag="div" content={character.description}></MarkdownContent>
      <div class="character-abilities-display">
        {Object.keys(src).map((group: string) => (<dl class="details">
          {stats[group].map((stat: string) => (<>
            <dt>{stat}</dt>
            <dd>{displayStat(group, stat)}</dd>
          </>))}
        </dl>))}
      </div>
      <MarkdownContent tag="div" content={character.notes}></MarkdownContent>

      {isPlayer && (<nav class="actions">
        <ul>
          <li><a href={`/catalogue/characters/${id}/edit`}>Edit</a></li>
        </ul>
      </nav>)}
    </>
  )}
</BaseLayout>
