---
import BaseLayout from '../../../../layouts/BaseLayout.astro'
import { apiRoot, apiHeaders, defaultPageSize } from '../../../../data'
import UserLink from '../../../../components/UserLink.astro'
import MarkdownContent from '../../../../components/MarkdownContent.astro'
import SocietyListing from '../../../../components/SocietyListing.astro'
import SpeciesListing from '../../../../components/SpeciesListing.astro'
import getAuth from '../../../../utils/get-auth'
import Breadcrumbs from '../../../../components/Breadcrumbs.astro'
import SocietyListing from '../../../../components/SocietyListing.astro'

const { apiKey, username } = getAuth(Astro)
const { slug } = Astro.params
let world: { [key: string]: any } | null = null
let isCreator = false
let ancestors = []

try {
  const res = await fetch(`${apiRoot}/worlds/${slug}`, {
    method: 'GET',
    headers: {
      ...apiHeaders,
      Authorization: `Bearer ${apiKey}`
    }
  })

  ancestors = [
    { path: '/catalogue', name: 'Catalogue' },
    { path: '/catalogue/worlds', name: 'Worlds' },
  ]

  if (res.status === 200) {
    world = await res.json()
    isCreator = world.creators.map(creator => creator.username).includes(username)
  }
} catch (err) {
  console.error(err)
}
---
<BaseLayout title="Worlds">
  {!world && (
    <h1>The Space Between Worlds</h1>
    <p class="byline">404 Not Found</p>
    <p>Across the infinite planes of the multiverse, nary a whisper of such
      a place can be heard. Perhaps you&rsquo;d like to
      <a href="/catalogue/worlds">explore the known worlds</a>, or perhaps,
      if the one you seek does not yet exist, you might have the power to
      <a href="/catalogue/worlds/new">create it</a>.</p>
  )}
  {world && (
    <>
      <Breadcrumbs ancestors={ancestors} current={world.name}></Breadcrumbs>
      <h1>{world.name}</h1>
      <p class="byline">Created by {world.creators.map(creator => (<UserLink user={creator} />))}</p>
      <MarkdownContent tag="div" content={world.description}></MarkdownContent>

      <section class="world-species">
        <h2>Species</h2>
        {world.species.map(species => (<SpeciesListing key={species.slug} species={species} context="world" />))}
        {(!world.species || world.species.length < 1) && (<div class="null">
          <p>No species</p>
          <a href={`/catalogue/species/new?world=${slug}`}>+ Add a new species</a>
        </div>)}
      </section>

      <section class="world-societies">
        <h2>Societies</h2>
        {world.societies.map(society => (<SocietyListing key={society.slug} society={society} context="world" />))}
        {(!world.societies || world.societies.length < 1) && (<div class="null">
          <p>No societies</p>
          <a href={`/catalogue/societies/new?world=${slug}`}>+ Add a new society</a>
        </div>)}
      </section>

      {isCreator && (<nav class="actions">
        <ul>
          <li><a href={`/catalogue/worlds/${slug}/edit`}>Edit</a></li>
        </ul>
      </nav>)}
    </>
  )}
</BaseLayout>
