---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { apiRoot, defaultPageSize } from '../../../data'
import Pagination from '../../../components/Pagination.astro'
import CampaignListing from '../../../components/CampaignListing.astro'
import getHeaders from '../../../utils/get-headers'

const headers = getHeaders(Astro)
let data: { [key: string]: any } = {}

const pageParam = 'page'
const pageSizeParam = 'page_size'
const page = Astro.url.searchParams.get(pageParam) ?? 1
const pageSize = Astro.url.searchParams.get(pageSizeParam) ?? defaultPageSize
const url = `${apiRoot}/campaigns?page=${page}&page_size=${pageSize}`

try {
  const res = await fetch(url, {
    method: 'GET',
    headers
  })

  data = await res.json()
} catch (err) {
  console.error(err)
}
---
<BaseLayout title="Campaigns">
  <h1>Campaigns</h1>
  {(!data.campaigns || data.campaigns.length < 1) && (<div class="null">
    <p>No campaigns found.</p>
    <a href="/catalogue/campaigns/new">+ Create a new campaign</a>
  </div>)}
  {data.campaigns && data.campaigns.length > 0 && data.campaigns.map((campaign: { [key: string]: any }) => (
    <CampaignListing campaign={campaign}></CampaignListing>
  ))}
  {data.total > data.page_size && (<Pagination page={data} baseUrl="/catalogue/campaigns" pageParam="page" pageSizeParam="page_size" />)}
</BaseLayout>
