---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import NoJS from '../../../components/NoJS.astro'
import CampaignForm from '../../../components/CampaignForm.astro'
import { apiRoot, apiHeaders } from '../../../data'
import getAuth from '../../../utils/get-auth'
import getWorlds from '../../../utils/get-worlds'

const auth = getAuth(Astro)
if (!auth?.apiKey) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: '/catalogue/campaigns'
    },
  })
}

const { apiKey } = auth
let message = ''
const headers = {
  ...apiHeaders,
  Authorization: `Bearer ${apiKey}`
}

const worlds = await getWorlds(apiRoot, headers)

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData()
    const name = formData.get('name')
    const slug = formData.get('slug') as string
    const description = formData.get('description')
    const gms = (formData.get('gms') as string).split(',').map(c => c.trim())
    const pcs = (formData.get('pcs') as string).split(',').map(c => c.trim())
    const world = formData.get('world') as string
    const isPublic = formData.get('public') === 'on'

    const payload = {
      name,
      slug,
      description,
      gms,
      pcs,
      world,
      public: isPublic
    }

    const res = await fetch(`${apiRoot}/campaigns`, {
      method: 'POST',
      headers,
      body: JSON.stringify(payload)
    })

    const data = await res.json()
    if (res.status !== 200) {
      throw new Error(data.error)
    }

    return new Response(null, {
      status: 302,
      headers: {
        Location: `/catalogue/campaigns/${data.world.path.substring(8)}/${data.slug}`,
      },
    })
  } catch (err) {
    message = 'Sorry, something went wrong. Please try again.'
    console.error(err)
  }
}
---
<BaseLayout title="Create a New Campaign">
  <h1>Create a New Campaign</h1>
  {message && <aside class="message error">{message}</aside>}
  <CampaignForm
    action="/catalogue/campaigns/new"
    button="Create"
    worlds={worlds}
    isEdit={false} />
  <NoJS />
</BaseLayout>
