---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { apiRoot, defaultPageSize } from '../../../data'
import Pagination from '../../../components/Pagination.astro'
import ScrollListing from '../../../components/ScrollListing.astro'
import getHeaders from '../../../utils/get-headers'

const headers = getHeaders(Astro)
let data: { [key: string]: any } = {}

const pageParam = 'page'
const pageSizeParam = 'page_size'
const page = Astro.url.searchParams.get(pageParam) ?? 1
const pageSize = Astro.url.searchParams.get(pageSizeParam) ?? defaultPageSize
const url = `${apiRoot}/scrolls?page=${page}&page_size=${pageSize}`

try {
  const res = await fetch(url, {
    method: 'GET',
    headers
  })

  data = await res.json()
} catch (err) {
  console.error(err)
}
---
<BaseLayout title="Scrolls">
  <h1>Scrolls</h1>
  {(!data.scrolls || data.scrolls.length < 1) && (<div class="null">
    <p>No scrolls found.</p>
    <a href="/catalogue/scrolls/new">+ Create a new scroll</a>
  </div>)}
  {data.scrolls && data.scrolls.length > 0 && data.scrolls.map((scroll: { [key: string]: any }) => (
    <ScrollListing scroll={scroll} />
  ))}
  {data.total > data.page_size && (<Pagination page={data} baseUrl="/catalogue/scrolls" pageParam="page" pageSizeParam="page_size" />)}
</BaseLayout>
