---
import BaseLayout from '../../../../layouts/BaseLayout.astro'
import { apiRoot, apiHeaders, defaultPageSize } from '../../../../data'
import Pagination from '../../../../components/Pagination.astro'
import SpeciesListing from '../../../../components/SpeciesListing.astro'
import getAuth from '../../../../utils/get-auth'

const { apiKey } = getAuth(Astro)
let data: { [key: string]: any } = {}
let title = 'Species'

const { world } = Astro.params
const pageParam = 'page'
const pageSizeParam = 'page_size'
const page = Astro.url.searchParams.get(pageParam) ?? 1
const pageSize = Astro.url.searchParams.get(pageSizeParam) ?? defaultPageSize
const url = `${apiRoot}/species?world${world}&page=${page}&page_size=${pageSize}`

try {
  const res = await fetch(url, {
    method: 'GET',
    headers: {
      ...apiHeaders,
      Authorization: `Bearer ${apiKey}`
    }
  })

  data = await res.json()
  if (data.species && data.species.length > 0) title = `Species of ${data.species[0].world.name}`
} catch (err) {
  console.error(err)
}
---
<BaseLayout title={title}>
  {data.species && data.species.length >0 && (
    <>
      <h1><span class="sub">Species of</span> {data.species[0].world.name}</h1>
      <p class="byline"><a href={`/catalogue/worlds/${data.species[0].world.path.substring(8)}`}>Explore {data.species[0].world.name}</a></p>
    </>
  )}
  {!data.species && <h1>Species</h1>}
  {data.species && data.species.length > 0 && data.species.map(species => (
    <SpeciesListing species={species} context="world-index" />
  ))}
  {data.total > data.page_size && (<Pagination page={data} baseUrl={`/catalogue/species?world=${world}`} pageParam="page" pageSizeParam="page_size" />)}
</BaseLayout>
