---
import BaseLayout from '../../../../layouts/BaseLayout.astro'
import { apiRoot, apiHeaders, defaultPageSize } from '../../../../data'
import Pagination from '../../../../components/Pagination.astro'
import SocietyListing from '../../../../components/SocietyListing.astro'
import getAuth from '../../../../utils/get-auth'

const { apiKey } = getAuth(Astro)
let data: { [key: string]: any } = {}
let title = 'Societies'

const { world } = Astro.params
const pageParam = 'page'
const pageSizeParam = 'page_size'
const page = Astro.url.searchParams.get(pageParam) ?? 1
const pageSize = Astro.url.searchParams.get(pageSizeParam) ?? defaultPageSize
const url = `${apiRoot}/societies?world=${world}&page=${page}&page_size=${pageSize}`

try {
  const res = await fetch(url, {
    method: 'GET',
    headers: {
      ...apiHeaders,
      Authorization: `Bearer ${apiKey}`
    }
  })

  data = await res.json()
  if (data.societies && data.societies.length > 0) title = `Societies of ${data.societies[0].world.name}`
} catch (err) {
  console.error(err)
}
---
<BaseLayout title={title}>
  {data.societies && data.societies.length >0 && (
    <>
      <h1><span class="sub">Societies of</span> {data.societies[0].world.name}</h1>
      <p class="byline"><a href={`/catalogue/worlds/${data.societies[0].world.path.substring(8)}`}>Explore {data.societies[0].world.name}</a></p>
    </>
  )}
  {!data.societies && <h1>Species</h1>}
  {data.societies && data.societies.length > 0 && data.societies.map(society => (
    <SocietyListing society={society} context="world-index" />
  ))}
  {data.total > data.page_size && (<Pagination page={data} baseUrl={`/catalogue/societies?world=${world}`} pageParam="page" pageSizeParam="page_size" />)}
</BaseLayout>
