---
import AddRemoveRepeatableElements from '../components/AddRemoveRepeatableElements.astro'
import LevelForm from '../components/LevelForm.astro'
import SlugField from './client/SlugField'
import getRepeatableElements from '../utils/get-repeatable-elements'
const { action, button, isEdit } = Astro.props
const scale: any = Astro.props.scale ?? {}

interface Level {
  name: string
  details: string
}

const levels = getRepeatableElements<Level>(
  scale?.levels ?? [],
  3,
  Astro.url.searchParams.get('levels')
)
---
<form action={action} method="POST">
  <label for="name">
    Name
    <span class="note">What is this scale called?</span>
  </label>
  <input type="text" name="name" id="name" required placeholder="Character Levels" value={scale.name} />
  <label for="slug" class="no-js">
    Slug
    <span class="note">A string which uniquely identifies this scale.</span>
  </label>
  <input type="text" name="slug" id="slug" required placeholder="character-levels" value={scale.slug} />
  <SlugField
    client:only="react"
    isEdit={isEdit}
    collection="scales"
    name={scale.name}
    slug={scale.slug}
    nameField="name"
    slugField="slug"
    slugNote="A string which uniquely identifies this scale."
    placeholder="Character Levels" />
  <label for="description">
    Description
    <span class="note">Provide a short summary of this scale and what
      it measures.</span>
  </label>
  <textarea name="description" id="description" required placeholder="Levels are a discrete measurement of character progress used in some games.">{scale.description}</textarea>
  <fieldset name="levels" class="levels repeatable">
    <legend>Levels</legend>
    {levels.map((level, index) => (
      <LevelForm
        n={index + 1}
        level={level} />
    ))}
  </fieldset>
  <AddRemoveRepeatableElements
    template="level-template"
    root="fieldset.levels"
    elements="fieldset"
    remove="- Remove Level"
    add="+ Add Level"
  />
  <input type="checkbox" id="public" name="public" checked={scale.public} />
  <label for="public" class="checkbox">
    <strong>Make it public.</strong> Public scales can be seen by everyone.
    Leave this unchecked if you&rsquo;re not ready to share your scale
    with everyone, or if you just want to keep it private. Private scales
    can only be seen by their authors (in this case, you).
  </label>
  <button>{button}</button>
</form>
<template id="level-template">
  <LevelForm isTemplate={true} />
</template>