---
import MarkdownContent from './MarkdownContent.astro'
const { species, context } = Astro.props
const [ ,, worldSlug, speciesSlug ] = species.path.split('/')
const speciesPath = `/catalogue/species/${worldSlug}/${speciesSlug}`
const worldPath = `/catalogue/worlds/${worldSlug}`
const link = `<a href="${speciesPath}">${species.name}</a>`
---
<article class="species catalogue-listing">
  <header>
    {(context === 'index' || context === 'world-index') && <h2 set:html={link}></h2>}
    {context === 'world' && <h3 set:html={link}></h3>}
    {context === 'index' && <p class="byline">From <a href={worldPath}>{species.world.name}</a></p>}
  </header>
  <MarkdownContent tag="div" content={species.description} />
</article>
