---
import MarkdownContent from './MarkdownContent.astro'
const { species, context } = Astro.props
const [ ,, worldSlug, speciesSlug ] = species.path.split('/')
const speciesPath = `/catalogue/species/${worldSlug}/${speciesSlug}`
const worldPath = `/catalogue/worlds/${worldSlug}`
---
<article class="card species catalogue-listing">
  <header>
    <h3>
      <a href={speciesPath}>{species.name}</a>
    </h3>
    {context === 'index' && <p class="secondary">From <a href={worldPath}>{species.world.name}</a></p>}
  </header>
  <MarkdownContent tag="div" content={species.description} />
</article>
