---
import StageForm from './StageForm.astro'
import AddRemoveRepeatableElements from './AddRemoveRepeatableElements.astro'
import AffinityAversion from './client/AffinityAversion'
import SlugField from './client/SlugField'
import getRepeatableElements from '../utils/get-repeatable-elements'
import type { WorldRecord } from '../utils/get-worlds'
const { action, button, isEdit, worlds } = Astro.props
const species: any = Astro.props.species ?? {}
const qWorld = Astro.url.searchParams.get('world')
const world: WorldRecord | null = species.world
  ? { name: species.world.name, slug: species.world.path.substring(8) }
  : qWorld
    ? worlds.filter((world: { [key: string]: any }) => world.slug === qWorld)[0]
    : null

interface Stage {
  name: string
  min: number | null
  max: number | null
  procedures: string
}

const physical = ['Strength', 'Dexterity', 'Constitution']
const mental = ['Intelligence', 'Wisdom', 'Charisma']
const stages = getRepeatableElements<Stage>(
  species?.stages ?? [],
  4,
  Astro.url.searchParams.get('stages') ?? undefined
)

const free = '* **Ability Shift:** You may increase one of your abilities by one at the cost of decreasing a different ability by one.'
const favored = '* **Socially Favored Shift:** You may repeat the ability shift step a second time if the ability you increase is one of your society’s favored abilities.'
const lang = '* **Language Acquisition:** You are fluent in all of the languages spoken by your society.'
const aging = '* **Aging:** Reduce your strength, dexterity, and constitution abilites each by one.'
const placeholders: Stage[] = [
  { name: 'Childhood', min: null, max: 10, procedures: [lang, free, favored].join('\n') },
  { name: 'Young Adulthood', min: 10, max: 30, procedures: [free, favored].join('\n') },
  { name: 'Mature Adulthood', min: 30, max: 60, procedures: [free, favored].join('\n') },
  { name: 'Elderhood', min: 60, max: null, procedures: [aging, free, favored].join('\n') }
]
---
<form action={action} method="POST">
  <label for="name">
    Name
    <span class="note">What is this species called?</span>
  </label>
  <input type="text" name="name" id="name" required placeholder="Humans" value={species.name} />
  <label for="slug" class="no-js">
    Slug
    <span class="note">A string which, when combined with your world&rsquo;s slug, uniquely identifies this species.</span>
  </label>
  <input type="text" name="slug" id="slug" required placeholder="humans" value={species.slug} />
  <SlugField
    client:only="react"
    isEdit={isEdit}
    worlds={worlds}
    collection="species"
    name={species.name}
    slug={species.slug}
    world={world}
    nameField="name"
    slugField="slug"
    slugNote="A string which, when combined with your world&rsquo;s slug, uniquely identifies this species."
    worldField="world"
    worldNote="What world does this species come from?"
    placeholder="Humans" />
  <label for="name" class="no-js">
    World
    <span class="note">What world does this species come from?</span>
  </label>
  <select name="world" id="world" class="no-js">
    {worlds.map((w: { [key: string]: any }) => {
      const isSelected = w.slug === world?.slug
      return (<option selected={isSelected} value={w.slug}>{w.name}</option>)
    })}
  </select>
  <label for="description">
    Description
    <span class="note">Provide a short summary of this species and what
      makes them unique.</span>
  </label>
  <textarea name="description" id="description" required placeholder="Humans are only the default from a deeply anthropocentric point of view. Every species is uniquely adapted to its own particular niche, and humans are no exception.">{species.description}</textarea>
  <label for="affinity1" class="no-js">
    Affinities
    <span class="note">Each species has two <strong>affinities</strong> &mdash;
    abilities that its members are naturally gifted at, due to their biological
    or magical nature.</span>
  </label>
  <select name="affinity1" id="affinity1" class="no-js">
    {physical.map((ability) => (<option value={ability.toLowerCase()}>{ability}</option>))}
  </select>
  <select name="affinity2" id="affinity2" class="no-js">
    {mental.map((ability) => (<option value={ability.toLowerCase()}>{ability}</option>))}
  </select>
  <label for="aversion" class="no-js">
    Aversion
    <span class="note">Each species has an <strong>aversion</strong> &mdash;
    one ability that its members struggle with due to their biological or
    magical nature.</span>
  </label>
  <select name="aversion" id="aversion" class="no-js">
    {[...physical, ...mental].map((ability) => (<option value={ability.toLowerCase()}>{ability}</option>))}
  </select>
  <AffinityAversion
    client:only="react"
    species={species}
    physical={physical}
    mental={mental} />
  <fieldset class="species stages repeatable">
    <legend>Stages of Life</legend>
    <p>The stages of life vary from one species to another
      in terms of number, age, and what matters of physical, mental, or magical
      maturity they involve.</p>
    {stages.map((stage, index) => (
      <StageForm
        n={index + 1}
        stage={stage}
        placeholder={index < placeholders.length ? placeholders[index] : null} />
    ))}
  </fieldset>
  <AddRemoveRepeatableElements
    template="stage-template"
    root="fieldset.stages"
    elements="fieldset"
    remove="- Remove Stage"
    add="+ Add Stage"
    />
  <input type="checkbox" id="public" name="public" checked={species.public} />
  <label for="public" class="checkbox">
    <strong>Make it public.</strong> Public species can be seen by everyone.
    Leave this unchecked if you&rsquo;re not ready to share your species
    with everyone, or if you just want to keep it private. Private species
    can only be seen by the creators of the worlds they belong to.
  </label>
  <button>{button}</button>
</form>
<template id="stage-template">
  <StageForm isTemplate={true} />
</template>
