---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { apiRoot, apiHeaders, defaultPageSize } from '../../../data'
import Pagination from '../../../components/Pagination.astro'
import CharacterListing from '../../../components/CharacterListing.astro'
import getHeaders from '../../../utils/get-headers'

const headers = getHeaders(Astro)
let data: { [key: string]: any } = {}

const pageParam = 'page'
const pageSizeParam = 'page_size'
const page = Astro.url.searchParams.get(pageParam) ?? 1
const pageSize = Astro.url.searchParams.get(pageSizeParam) ?? defaultPageSize
const url = `${apiRoot}/characters?page=${page}&page_size=${pageSize}`

try {
  const res = await fetch(url, {
    method: 'GET',
    headers
  })

  data = await res.json()
} catch (err) {
  console.error(err)
}
---
<BaseLayout title="Characters">
  <h1>Characters</h1>
  {(!data.characters || data.characters.length < 1) && (<div class="null">
    <p>No characters found.</p>
    <a href="/catalogue/characters/new">+ Create a new character</a>
  </div>)}
  {data.characters && data.characters.length > 0 && data.characters.map(character => (
    <CharacterListing character={character} />
  ))}
  {data.total > data.page_size && (<Pagination page={data} baseUrl="/catalogue/characters" pageParam="page" pageSizeParam="page_size" />)}
</BaseLayout>
